{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"7b0mbj5dal2f\"},\"members\":[{\"id\":\"default-user\"}],\"activity\":{\"type\":\"message\",\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Create Conversation\"}}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"033fc5gf8j8cec\",\"activityId\":\"10eb067j8i574\"}"
    }
  } ],
  "variables" : [ ]
}