{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://smba.trafficmanager.net/apis/v3/conversations",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "{\"id\":\"8:live:enzocano\",\"activityId\":\"0:1PbvtuAtVRZ9uOFoB2Bbw7cvG286KJqafKuVTM7LI1FljKJ_k_NVlbzx6dRAjsOAn\"}"
    }
  } ],
  "variables" : [ ]
}