{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"7b0mbj5dal2f\"},\"members\":[{\"id\":\"default-user\"}],\"activity\":{\"type\":\"message\",\"from\":{\"id\":\"7b0mbj5dal2f\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Delete Activity\"}}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"cjbfbm964kjf\",\"activityId\":\"b8830ee4e0fe\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/cjbfbm964kjf/activities/b8830ee4e0fe",
    "Body" : "",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}