{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"6bl73lhk128m\"},\"members\":[{\"id\":\"default-user\"}],\"activity\":{\"type\":\"message\",\"from\":{\"id\":\"6bl73lhk128m\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Get Activity Members\"}}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"mbig1f33fb3j\",\"activityId\":\"0hn3ik1g1b0fa\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/mbig1f33fb3j/activities/0hn3ik1g1b0fa/members",
    "Body" : "",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "[{\"id\":\"6bl73lhk128m\",\"name\":\"Bot\"},{\"id\":\"default-user\"}]"
    }
  } ],
  "variables" : [ ]
}