{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"7b0mbj5dal2f\"},\"members\":[{\"id\":\"default-user\"}],\"activity\":{\"type\":\"message\",\"from\":{\"id\":\"7b0mbj5dal2f\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Get Activity Members\"}}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"0e5m255bn9lj\",\"activityId\":\"mi8j5m4chc7g\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/0e5m255bn9lj/activities/mi8j5m4chc7g/members",
    "Body" : "",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "[{\"id\":\"7b0mbj5dal2f\",\"name\":\"Bot\"},{\"id\":\"default-user\"}]"
    }
  } ],
  "variables" : [ ]
}