{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"6bl73lhk128m\"},\"members\":[{\"id\":\"default-user\"}]}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"69e6j0d70in5\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/69e6j0d70in5/members",
    "Body" : "",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "[{\"id\":\"6bl73lhk128m\",\"name\":\"Bot\"},{\"id\":\"default-user\"}]"
    }
  } ],
  "variables" : [ ]
}