{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"6bl73lhk128m\"},\"members\":[{\"id\":\"default-user\"}]}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"4f5k286b922h\"}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/4f5k286b922h/activities",
    "Body" : "{\"type\":\"message\",\"from\":{\"id\":\"6bl73lhk128m\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Send Card to Conversation\",\"attachments\":[{\"contentType\":\"application/vnd.microsoft.card.hero\",\"content\":{\"title\":\"A static image\",\"subtitle\":\"JPEG image\",\"images\":[{\"url\":\"https://docs.microsoft.com/en-us/bot-framework/media/designing-bots/core/dialogs-screens.png\"}]}},{\"contentType\":\"application/vnd.microsoft.card.hero\",\"content\":{\"title\":\"An animation\",\"subtitle\":\"GIF image\",\"images\":[{\"url\":\"http://i.giphy.com/Ki55RUbOV5njy.gif\"}]}}],\"name\":\"activity\"}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"d5l6ib6k3h9\"}"
    }
  } ],
  "variables" : [ ]
}