{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"7b0mbj5dal2f\"},\"members\":[{\"id\":\"default-user\"}]}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"2d0kh5kcaj64h\"}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/2d0kh5kcaj64h/activities",
    "Body" : "{\"type\":\"message\",\"from\":{\"id\":\"7b0mbj5dal2f\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Send to Conversation\",\"name\":\"activity\"}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"lbi93403mi8\"}"
    }
  } ],
  "variables" : [ ]
}