{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"6bl73lhk128m\"},\"members\":[{\"id\":\"default-user\"}]}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"e10e675b5gh\"}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/e10e675b5gh/activities",
    "Body" : "{\"type\":\"message\",\"from\":{\"id\":\"6bl73lhk128m\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Send to Conversation\"}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"b1n51i2n6kl3\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://mock.api.botframework.com/v3/conversations/e10e675b5gh/activities/b1n51i2n6kl3",
    "Body" : "{\"type\":\"message\",\"id\":\"b1n51i2n6kl3\",\"from\":{\"id\":\"6bl73lhk128m\"},\"recipient\":{\"id\":\"default-user\"},\"text\":\"TEST Update Activity\"}",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"b1n51i2n6kl3\"}"
    }
  } ],
  "variables" : [ ]
}